.wrapper{
    min-height: 100vh ;
    position: relative;
    padding-bottom: 50px;
    background-color: #fff9ed;
    z-index: 1;
    padding: 0px 20px;
}

.main-page-data{
    height: 100%;
}

.custContainer{
    padding: 0px 50px;
}

.custom-bg-body {
    background-image: url(../assets/checkBg.gif);
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.custom-bg-body::after {
    content: '';
    position: fixed;
    background: rgba(255,255,255,0.9);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}